
// brand scale
$base--brand-10: #FFE8EB;
$base--brand-20: #FFCFD5;
$base--brand-30: #FB97A3;
$base--brand-40: #ED4659;
$base--brand-50: #D10019;
$base--brand-60: #B20015;
$base--brand-70: #920011;
$base--brand-80: #73000E;
$base--brand-90: #54000A;
$base--brand-primary: $base--brand-50;

// neutral scale
$base--neutral-0: #fff;
$base--neutral-10: #F7F7F7;
$base--neutral-20: #F0F0F0;
$base--neutral-30: #E3E4E4;
$base--neutral-40: #CACBCC;
$base--neutral-50: #97999C;
$base--neutral-60: #64676B;
$base--neutral-70: #31363B;
$base--neutral-80: #1A1E22;
$base--neutral-90: #07090A;

// tone scales
$base--tone-ipsilon: #F58220;
$base--tone-p3: #B93C12;
$base--tone-terroir: #795048;
$base--tone-impar: #C7AFC2;
$base--tone-fugas: #40B0B6;
$base--tone-paid: #E0EEF3;
$base--tone-multimedia: #0A0A0A;
$base--tone-azul--light: #478524;
$base--tone-azul--dark: #72BF44;
$base--tone-psuperior: #D84B4B;
$base--tone-leituras: #EB9A3B;
$base--tone-cinecartaz: #FFAA00;
$base--tone-arteria: #FFF343;

// alert scale
$base--success-20: #DAFBE1;
$base--success-50: #4AC26B;
$base--success-80: #0F722C;
$base--warning-20: #FFF8C5;
$base--warning-50: #EBC336;
$base--warning-80: #966401;
$base--danger-20: #FFEBE9;
$base--danger-50: #FF8182;
$base--danger-80: #CF222E;